body {
    background-color: #F5F5F7 !important;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: 50px !important;
    color: #6E6E73 !important;
}

h2 {
    font-size: 30px !important;
    color: #eb0000 !important;
}

form {
    display: inline-block;
    padding: 30px;
}

.black-sans-serif {
    color: black;
    font-weight: 500;
}

.navbar-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
}

#ESPN-logo {
    display: flex;
    justify-content: flex-end;
}


/* CSS Styling for iPad */
@media screen and (min-width: 768px) {
    #hero-text {
        max-width: 100% !important;
    }
    
    .support-spacer {
        display: none;
    }

    .nav-link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-icons {
        display: none;
    }
}

/* Styling Adjustments for Laptops and larger screens - 1068px */
@media screen and (min-width: 1068px) {
    .lg-screen-content {
        display: flex;
        flex-direction: column;
    }

    .header-spacer {
        display: inline;
    }

    #hero-text {
        max-width: 60% !important;
    }

    #nav-icons {
        display: block;
    }
}